@import "./global.scss";

.navbar {
  height: $nav-size;
  background-color: $bg;
  padding: 0 1rem;
  border-bottom: $border;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
